.Project {
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
  margin: 0px 0px 50px 0px;
  width: 100%;
}

img {
  width: 100%;
}

.proj-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
}

.proj-left h3 {
  font-size: 25px;
  padding-bottom: 10px;
  text-align: center;
}

.proj-left p {
  text-align: center;
  font-weight: 200;
}

.proj-left a {
  color: #d10102;
  font-weight: 200;
  color: #000;
  text-decoration: underline;
  text-decoration-color: #d10102;
}

.proj-left button a {
  text-decoration: none;
}

.proj-img {
  flex: 1;
  flex-direction: column;
  padding: 30px;
}

.proj-left button {
  margin: 10px 0px;
  padding: 9px;
  background-color: #fff;
  border: 2px solid #fff;
}

.proj-left button:hover {
  cursor: pointer;
  border-color: #d10102;

}

@media all and (min-width: 800px) {
  .Project {
    flex-direction: row;
  }

  .proj-left {
    align-items: flex-end;
  }

  .proj-left p {
    text-align: right;
  }
}